body {

    font-family: Arial, sans-serif;
    
    margin: 0;
    
    padding: 0;
    
    }
    
    header {
    
    background-color: #007bff;
    
    color: #ffffff;
    
    padding: 20px;
    
    text-align: center;
    
    }
body{
    background-image:
    url('background.jpg');
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;}


    
    nav ul {
    
    list-style: none;
    
    margin: 0;
    
    padding: 0;
    
    display: flex;
    
    justify-content: space-between;
    
    }nav li{
    
    margin-right : 20px;
    
    }
    
    
    nav a {
    
    color: #ffffff;
    
    text-decoration: none;}
    
    main {
    
    display: flex;
    
    flex-direction: column;
    
    align-items: center;
    
    padding: 20px;
    
    }
    section {
    
    background-color: #f7f7f7;
    
    padding: 20px;
    
    margin-bottom: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    }
    
    table {
    
    width: 100%;
    
    border-collapse: collapse;
    
    }
    
    th, td {
    
    border: 1px solid #ddd;
    
    padding: 10px;
    
    text-align: left;
    
    }
    
    th {
    
    background-color: #f0f0f0;
    
    }
    
    flight-pic {

width: 50px;

height: 50px;

border-radius: 50%;

margin: 10px;

}


    
    
    
    
    
    
